@page
@model Pride.Areas.Dashboard.Pages.Broker.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Brokers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.BrokerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.BrokerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.CompanyName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Brokers.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
