@page
@model Pride.Areas.Dashboard.Pages.Broker.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brokers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.BrokerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.BrokerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brokers.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brokers.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Brokers.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
