@page
@model Pride.Areas.Dashboard.Pages.LeadList.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Lead Detail</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div>

                                    <hr />
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            Date
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.date)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.Name)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.Name)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.Company)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.Company)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.ContactNo)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.ContactNo)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.EMail)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.EMail)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.LeadStatus)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.LeadStatus)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.Description)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.Description)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.EmpyeeName)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.EmpyeeName)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.IsDeleted)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.IsDeleted)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.ContactPerson)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.ContactPerson)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.State)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.State)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.PowerUnit)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.PowerUnit)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.EffectiveDate)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.EffectiveDate)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.Leads.TypeofPolicy)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.Leads.TypeofPolicy)
                                        </dd>
                                    </dl>
                                </div>
                                <div>
                                    <a asp-page="./Edit" asp-route-id="@Model.Leads.id" class=" btn btn-primary">Edit</a>
                                    <a asp-page="./Index" class="btn btn-danger">Back to List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


